html, body{
	background-color: #336699;
}
.title{
	font-size: 100px;
    font-family: 'Chicle', cursive; color:white;
	color:white;
	margin-top:100px;
	margin-left:50px;
	float: left;
	animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    overflow: hidden;
    position: absolute;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

* {box-sizing: border-box}
input[type=text], input[type=password], input[type=text1], input[type=address] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-family: 'Contrail One', cursive;
}

input[type=text]:focus, input[type=password]:focus, input[type=text1]:focus, input[type=address]:focus {
    background-color: #ddd;
    outline: none;

}

hr {
    border: 1px solid #f1f1f1;
    top: 0;

}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-family: 'Contrail One', cursive;
}

button:hover {
    opacity:1;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
.container {
    padding: 16px;
    width: 50%;
    float: right;
    margin-top: 80px;
    margin-right: 0;
    font-family: 'Contrail One', cursive;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}


