* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,body
{
	
	width: 100%;
	background-color: grey;
}
@media only screen and (min-width: 480px) {
   
    body, html{
        width: 100%;
    }
}



.together{
	position: absolute;
	left:2%;
}

.a{
	position: absolute;
	height:60%;
	width: 50%;
    left: 23%;
    top: 120px;
	
}
.b{
	position: absolute;	
	width: 50%;
	left: 20%;
	top: 590px;
}

.up{
	position: absolute;
	top:282px;
	right:80px;
	width: 100%;

}

.down{
	position: absolute;
	top:265px;
	left:-60px;
}

.h1, .h3, .h5, .h7, .h9, .h11, .h13, .h15, .h17, .h19, .h21, .h23, .h25, .h27, .h29, .h31, .h33{
	display: none;

}

.m{
	width: 8%;
	left: 10px;
	top:200px;
	position: absolute;	
}

.m1
{
	width: 4%;
	top:247px;
	right:714px;
	position: absolute;
}

.m2{
    width: 3%;
    position: absolute;
    right:665px;
    top:250px;	
}


.m4{
	width: 6%;
	position: absolute;
	top:210px;
	right:57px;
	
}

.m5{
	width: 14%;
	position: absolute;
	top:136px;
	right: 386px;
}

.m6{
	width: 8%;
	position:absolute;
	top:160px;
	right:750px;

}
.m7{
	width: 14%;
	position: absolute;
	top:122px;
	right:540px;
}





.m12{
	width: 9%;
	position: absolute;
	top:182px;
	right:410px;

}

.m13{
	width: 6%;
	
	position: absolute;
	top:212px;
	right:334px;
	}

.m14{
	width: 8%;
	position: absolute;
	top:162px;
	right:232px;
}

.m15{
	width: 4%;
	position: absolute;
	top:240px;
	right:115px;
}


.m16{
	width: 2%;
	position: absolute;
	top:250px;
	right:180px;
}

.home{
	width: 40%;
	position: absolute;
	top:90px;
	right:590px;
}

.black{
			animation:my 3s;
    		-moz-animation:my 3s infinite; 
    		-webkit-animation:my 3s infinite;
	    }
	    
        @-webkit-keyframes my 
    {
   0%   {background:black;}
    50%  {background:red;}
    70%  {background:black;}
    100%   {background:red;}
    }

}
.one{
         width: 3%;
         display: none;
         position: absolute;
         top:167px;
         left:105px;
		}



.box {
  width:170px;
  height:170px;
  border:3px solid grey;
  display: inline-block;
  background-color:red;
  left: 30px;
  position: relative;
}


.white{
			animation:myfirst 3s;
    		-moz-animation:myfirst 3s infinite; 
    		-webkit-animation:myfirst 3s infinite;
	    }
	    
        @-webkit-keyframes myfirst 
    {
   0%   {background:red;}
    50%  {background:beige;}
    70%  {background:red;}
    100%   {background:beige;}
    }



.door{
			animation:my 3s;
    		-moz-animation:my 3s infinite; 
    		-webkit-animation:my 3s infinite;
	    }
	    
        @-webkit-keyframes my 
    {
   0%   {background:white;}
    50%  {background:red;}
    70%  {background:white;}
    100%   {background:red;}
    }

}



